{
    "extends": [
      "react-app",
      "prettier"
    ],
    "rules": {
      "jsx-quotes": [
        1,
        "prefer-double"
      ],
      "no-console": "warn",
      "no-tabs": "warn",
      "no-mixed-spaces-and-tabs":"warn",
      "max-len": "warn"
    },
    "plugins": [
      "prettier"
    ]
    
  }