table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    height: 50px;
    border: 1px solid black;
    width: 34px;
    text-align: center;
}

.firstColumn{
    width: 200px;
    border: 0px;
}

.weekend{
    background-color: gray;
}